.about {
  justify-content: center;
  color: #0ca678;
}

.about h1 {
  text-align: center;
}

.about p {
  border: 1px solid white;
  background-color: #b2f2bb;
  border-radius: 12px;
  padding: 2rem;
  color: #343a40;
  font-weight: 500;
  margin-top: 2rem;
  line-height: 1.6;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}
